.chatroom {
  width: 100%;
  height: 100%;

  .page {
    height: 92%;
  }

  .left-panel {
    border: 1px solid black;
    height: 100%;
    background-color: white;
  }

  .main-chat {
    height: 350px;

    @include respond(sm) {
      height: 250px;
    }
  }

  .main-panel {
    height: 100%;
    background-color: white;
	border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid #000000;
    overflow: auto;
    background-color: white;
    word-wrap: break-word;
    word-break: break-all;
  }

  .message-box {
    height: 45px;
  }

  .message-panel {
    width: 90%;
    width: calc(100% - 60px);
    height: 45px;
    border: none;
    background-color: white;
    resize: none;
	  border-radius: 6px;
	  font-size: 1.2em;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0px;
  }

  .btn {
    display: inline-block;
    width: 60px;
    float: right;
    border-radius: 0px;
    border: none;
    height: 45px;
  }

  .collection {
    list-style-type: none;
  }

  .ng-binding-edit {
    font-family: inherit;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px 20px;
    width: 90%;
    margin-top: 2px;
  }

  .message-image {
    height: 30px;
    width: 40px;
  }
}
