.chatroom {
  background-color: #3498DB;

  .page {
    height: 100%;
  }

  .row, .full-height, .user-list {
    height: 100%;
  }

  .left-panel {
    border: 1px solid black;
    height: 100%;
    background-color: white;
  }

  .main-chat {
    height: 80%;
  }

  .main-panel {
    border: 1px solid black;
    height: 100%;
    background-color: white;
  }

  .message-box {
    height: 9.1%;
  }

  .message-panel {
    border: 1px solid black;
    margin-top: 9px;
    background-color: white;
    width: 100%;
  }

  .btn {
    margin-top: 14px;
    padding: 24px;
  }

  .user-list {
    height: 90%;
  }
}
