<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Chata</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body class="form register" ng-app="chataApp">
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <article class="container" ng-controller="registerController">
    <section class="page">
      <div class="holder">
        <img src="img/logo.png" alt="Chata logo">
        <h1>Register</h1>
        <form method="POST" ng-submit="submit()" name="form" novalidate>
          <p class="text-danger" ng-if="error.show"><small>{{error.message}}</small></p>

          <div class="form-group">
            <label class="sr-only" for="registerUsername">Username</label>
            <input type="text" name="uName" class="form-control" id="registerUsername" placeholder="Username" ng-model="user.username" required>
            <div ng-show="form.$submitted || form.uName.$touched">
              <div ng-show="form.uName.$error.required">Tell us your username.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="registerEmail">Email address</label>
            <input type="email" class="form-control" name="email" id="registerEmail" placeholder="Email" ng-model="user.email" required>
            <div ng-show="form.$submitted || form.email.$touched">
              <span ng-show="form.email.$error.required">Tell us your email.</span>
              <span ng-show="form.email.$error.email">This is not a valid email.</span>
            </div>

          </div>
          <div class="form-group">
            <label class="sr-only" for="registerPassword">Password</label>
            <input type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" name="pass" class="form-control" id="registerPassword" placeholder="Password" ng-model="user.password" required>
            <div ng-show="form.$submitted || form.pass.$touched">
              <span ng-show="form.pass.$error.required">Please enter a password.</span>
              <span ng-show="form.pass.$error.pattern">Password must have 8 character, 1 letter and 1 number.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="registerConfPassword">Confirm Password</label>
            <input type="password" name="passCon" class="form-control" id="registerConfPasswordPassword" compare-to="user.password" placeholder="Confirm Password" ng-model="user.passwordConfirm" required>
            <div ng-show="form.$submitted || (form.passCon.$touched && form.pass.$touched)">
              <div ng-show="form.passCon.$error.compareTo">Passwords must match.</div>
            </div>
          </div>

          <p>Profile Picture (Optional)</p>
          <div class="form-group">
            <img id="uploadedPicture" src="img/avatar.png" />
            <div id="uploadBtn" class="btn btn-success" onclick="getFile()">Click To Upload</div>
            <div id="hiddenFileUploader"><input id="upfile" type="file" value="upload" onchange="readURL(this);" /></div>
          </div>

          <div style="clear:both"></div>
          <br/>
          <div class="form-group">
            <a href="/index.html" class="btn btn-link">Login</a>
            <button type="submit" class="btn btn-success pull-right" ng-disabled="form.$invalid">Register</button>
          </div>
        </form>
      </div>
    </section>
    <footer></footer>
  </article>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <script src="/bower_components/pubnub/dist/web/pubnub.min.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/pubnub-angular/dist/pubnub-angular.min.js"></script>
  <script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="/bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

  <!-- build:js scripts/plugins.js -->
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/register.js"></script>
  <!-- endbuild -->

  <!-- Firebase set up -->
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDdBDgRU1pAngR0FlTGN9kXt1002e8ES2Q",
      authDomain: "chata-fa956.firebaseapp.com",
      databaseURL: "https://chata-fa956.firebaseio.com",
      storageBucket: "chata-fa956.appspot.com",
      messagingSenderId: "466137958337"
    };
    firebase.initializeApp(config);
  </script>
  <!-- endbuild -->
  <script>
    function getFile() {
      document.getElementById("upfile").click();
    }
  </script>

  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#uploadedPicture')
            .attr('src', e.target.result)
            .width(100)
            .height(100);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</body>

</html>
