<div class="chatroom">
  <article class="page">
    <section>
      <nav class="navbar navbar-default" ng-controller="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-center navbar-brand" href="/#/chatroom">
              <img alt="Chata" src="img/logo.png">
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="profile">
              <a href="/#/profile" title="Profile"><span class="sr-only">Profile</span></a>
            </li>
            <li class="logout">
              <a href="/#/" ng-click="authObj.$signOut()" title="Logout"><span class="sr-only">Logout</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <section class="container-fluid full-height">
      <div class="row">
        <div class="main-chat col-xs-12">
          <div class="main-panel">
            <ul class="row" id='username'>
              <div class='collection' ng-repeat="message in messageList">
                <img class='message-image' src={{message.profilePic}}>
                <li style='border-color: {{message.color}}'>{{message.username}}: {{message.content}}</li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="row" ng-if="error.show">
        <div class="col-xs-12">
          <p class="text-danger"><small>{{error.message}}</small></p>
        </div>
      </div>
      <div class="row">
        <div class="message-box col-xs-12">
          <textarea class="message-panel full-height" placeholder="Send message" ng-model='message' ng-keypress="enterToSend($event)"></textarea>
          <button type="button" class="btn btn-primary btn-lg" ng-click='publish()' ng-disabled='!message'><span class="glyphicon glyphicon-send" aria-hidden="true"></span><span class="sr-only">Send</span></button>
        </div>
      </div>
    </section>

    <footer></footer>
  </article>
</div>
