<div class="form">
  <header>
    <nav class="navbar navbar-default" ng-controller="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-center navbar-brand" href="/#/chatroom">
            <img alt="Chata" src="img/logo.png">
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="chat">
            <a href="/#/chatroom" title="Chatroom"><span class="sr-only">Chatroom</span></a>
          </li>
          <li class="logout">
            <a href="/#/" ng-click="authObj.$signOut()" title="Logout"><span class="sr-only">Logout</span></a>
          </li>
        </ul>
      </div>
    </nav>
    </section>
    <article class="container">
      <section class="page">
        <div class="holder">

          <h1>Your Profile</h1>
          <form method="POST" name='profile' ng-submit="updateUser()" class="outline">
            <p class="text-danger" ng-if="error.show"><small>{{error.message}}</small></p>
            <p>Profile Picture</p>
            <div class="form-group">
              <img id="uploadedPicture" src="{{user.profileUrl}}" />
              <div id="uploadBtn" class="btn btn-success" ng-click="getFile()">Click To Upload</div>
              <div id="hiddenFileUploader">
                <input id="upfile" type="file" value="upload" ngf-select="uploadFiles($file, $invalidFiles)" ng-model="user.picture" />
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="sr-only" for="loginEmail">Email</label>
              <input type="email" name="email" class="form-control" id="loginEmail" placeholder="Email" ng-model="user.email" required>
              <div ng-show="profile.$submitted || profile.email.$touched">
                <span ng-show="profile.email.$error.required">Tell us your email.</span>
                <span ng-show="profile.email.$error.email">This is not a valid email.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="username">Display Name</label>
              <input placeholder="Display Name" name="displayName" type="text" class="form-control" id="username" ng-model="user.username" required>
              <div ng-show="profile.$submitted || profile.displayName.$touched">
                <div ng-show="profile.displayName.$error.required">Tell us your username.</div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success pull-right" ng-disabled="profile.$invalid">Save Changes</button>
            </div>
            <br />
            <br />
          </form>
        </div>
      </section>
      <footer></footer>
    </article>
